/*
Stylesheet for Stephen's Blog!
Updated: June 3rd, 2019
*/

body {
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Cardo', serif;
}

/* Styles for headers */
h1 { 
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 38px;
    font-weight: 500;
}

h2{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 26px;
    font-weight: 500;     
}

h3{
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;  
}

/* Squares look nice with bold sans serifs */
ul{
    list-style: square;   
}

/* Holds the text on /index.html */
.homebox{
    padding-top: 0px;
    padding: 30px;
    float: left;
    max-width: 600px;
}

/* Holds the photo and caption on index.html */
.photobox{
    width: 400px;
    float: left;
    padding: 30px;
    padding-bottom: 0px;
}

/* Sets photo's width to 100% of .photobox */
.photo {
    width: 100%;
}

/* Used for the /challenge.html page (or blogs?) */
.leftbox{
    max-width: 800px;
    float: left;
    padding: 30px;
    font-size: 16px;
}

/* Set the font to monospace for captions*/
.cap{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;  
}

/* Tagline and tagline 2 div is for the bottom corner display*/
.tagline{
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}

.tagline:hover .tagline2 {
    display: block;
}

.tagline2 {
    display: none;
}

/*The son div is a 50% column inside other divs*/
.son {
    float: left;
    width: 50%;
}

/* Style for links. Half highlighted. */
a {
    text-decoration: none;
    color: black;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #EBEDEF 50%);
    outline: 0;
}

a:hover {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FCF3CF 50%);
}
