body {
    color: #524a63;
    background-color: #a7b8c2;
    font-family: serif;
    font-size: 18px;
    line-height: 1.2;
    padding: 0px;
    margin: 0px;
}

a {
    color: #a7b8c2;
    text-decoration: none;
    border-radius: 5px;
    background-color: #524a63;
}

a:hover {
    color: #524a63;
    background-color: #a7b8c2;
    border: 1px solid #524a63;
}

h1 {
    color: #728794;
    font-family: 'Inter', sans-serif;
    line-height: 1;
    font-size: 32px;
}

h2 { 
    color: #728794;
    font-family: 'Inter', sans-serif;
    line-height: 1;
    font-size: 26px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 25px;
}

ul { list-style-type: square; }

.email { width: 260px; }

pre {
    padding: 5px;
    border: 1px dashed #728794;
    border-radius: 5px;
}
