/*
Stylesheet for Stephen's Blog!
Updated: Apr 5th, 2019
I hope I never edit this again.    font-family: "Lucida Console", monospace;	

*/

body{
    font-family: "Courier New", monospace;
    font-size: 14px;
    margin: 0px;
    
}

#wordbox{
    max-width: 37ch;
    padding: 2ch;
    text-align: justify;
}

a {
    color: black;
    text-decoration: none;
}

td{padding:10px;}